* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  max-width: 100vw;
} */

html {
  max-width: 100vw;
  /* overflow-y: scroll; */
  scroll-snap-type: y mandatory;
}

.mainSection {
  scroll-snap-align: center;
  /* scroll-behavior: smooth; */
  scroll-snap-stop: normal;
}
